In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import joblib as joblib
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [ ]:
# 1.


data = {
    "Customer_ID": [101, 102, 103, 101, 104, 102, 101, 105, 102, 103],
    "Purchase_Amount": [200, 150, 180, 220, 300, 200, 100, 400, 250, 300],
}

df = pd.DataFrame(data)
grouped_data = df.groupby(["Customer_ID"], as_index=False)["Purchase_Amount"].sum()
print(grouped_data)
print(grouped_data.sort_values(ascending=False, by="Purchase_Amount").head(3))

   Customer_ID  Purchase_Amount
0          101              520
1          102              600
2          103              480
3          104              300
4          105              400
   Customer_ID  Purchase_Amount
1          102              600
0          101              520
2          103              480

In [95]:
"""#2. Predicting House Prices with Linear Regression
A real estate company wants to predict house prices based on square footage. Write a Python program to:
Train a Linear Regression model. Predict house prices for given test data.
Dataset:
data = {'Square_Feet': [1500, 2000, 2500, 3000, 3500],
        'Price': [300000, 400000, 500000, 600000, 700000]}
Test Data: [[1800], [2800]]
Expected Output:
Predicted Prices:
[360000. 560000.]
"""

data = {
    "Square_Feet": [1500, 2000, 2500, 3000, 3500],
    "Price": [300000, 400000, 500000, 600000, 700000],
}
df = pd.DataFrame(data)
features = df[["Square_Feet"]]
label = df["Price"]

X_train, X_test, y_train, y_test = train_test_split(
    features, label, test_size=0.4, random_state=0
)

linear_model = LinearRegression()
linear_model.fit(X_train, y_train)
pred = linear_model.predict(X_test)
linear_score = r2_score(y_test, pred)
print(linear_score)

joblib.dump(linear_model, filename="models/linear_model.pkl")

new_model = joblib.load("models/linear_model.pkl")
input1 = pd.DataFrame({"Square_Feet": [1800]})
input2 = pd.DataFrame({"Square_Feet": [2800]})
print("Predicted Prices  --> ", new_model.predict(input1), new_model.predict(input2))

1.0
Predicted Prices  -->  [360000.] [560000.]

In [ ]:
"""#3:
Identifying Frequent Labels in a Dataset
A company wants to identify the top 3 most common categories in a dataset. Given the dataset below, write a Python program to:
Group the data by Category.
Count the total occurrences of each category.
Identify the top 3 most frequent categories.

Dataset:
data = {'Category': ['A', 'B', 'C', 'A', 'D', 'B', 'A', 'E', 'B', 'C', 'C', 'A'],
        'Value': [10, 15, 20, 30, 25, 18, 22, 40, 35, 50, 45, 15]}

Expected Output:
Total Occurrences per Category:
  Category  Count
0        A      4
1        B      3
2        C      3
3        D      1
4        E      1

Top 3 Frequent Categories:
  Category  Count
0        A      4
1        B      3
2        C      3
"""

df = pd.DataFrame(
    {
        "Category": ["A", "B", "C", "A", "D", "B", "A", "E", "B", "C", "C", "A"],
        "Value": [10, 15, 20, 30, 25, 18, 22, 40, 35, 50, 45, 15],
    }
)
df.groupby(["Category"], as_index=False)["Value"].count().rename(
    columns={"Value": "Count"}
).head(3)

  Category  Count
0        A      4
1        B      3
2        C      3

In [119]:
"""#4.
Predicting Missing Values Using Mean Imputation
A dataset contains missing values in the Age column. Write a Python program to:
Replace missing values with the mean of the column. Display the updated DataFrame.

Dataset:
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'Age': [25, 30, None, 35, None]}

Expected Output:
Original Data:
     Name   Age
0  Alice  25.0
1    Bob  30.0
2 Charlie   NaN
3  David  35.0
4    Eve   NaN
Data after Imputation:
     Name   Age
0  Alice  25.0
1    Bob  30.0
2 Charlie  30.0
3  David  35.0
4    Eve  30.0
"""

df = pd.DataFrame(
    data={
        "Name": ["Alice", "Bob", "Charlie", "David", "Eve"],
        "Age": [25, 30, None, 35, None],
    }
).fillna(df.Age.mean(skipna=True))
df

      Name   Age
0    Alice  25.0
1      Bob  30.0
2  Charlie  30.0
3    David  35.0
4      Eve  30.0

In [146]:
"""# 5:
Implementing a Simple Linear Regression Model
You are given a dataset with Experience (years) and Salary ($). Write a Python program to:
Train a Linear Regression model. Predict the salary for an individual with 6 years of experience.

Dataset:
import pandas as pd

data = {'Experience': [1, 2, 3, 4, 5],
        'Salary': [30000, 35000, 40000, 45000, 50000]}
df = pd.DataFrame(data)

Expected Output (Example):
Predicted Salary for 6 years of experience: $55000

"""

data = {"Experience": [1, 2, 3, 4, 5], "Salary": [30000, 35000, 40000, 45000, 50000]}
df = pd.DataFrame(data)
feature = df[["Experience"]]
label = df["Salary"]

X_train, X_test, y_train, y_test = train_test_split(
    feature, label, test_size=0.4, random_state=0
)

linear_model = LinearRegression()
linear_model.fit(X_train, y_train)
pred = linear_model.predict(X_test)
linear_score = r2_score(y_test, pred)
print("Linear Score --> ", linear_score)

joblib.dump(linear_model, "models/model_5.pkl")
new_model = joblib.load("models/model_5.pkl")
new_input = pd.DataFrame({"Experience": [6]})
prediction = new_model.predict(new_input)
print("Predicted Salary for 6 years of experience: ", prediction[0])

Linear Score -->  1.0
Predicted Salary for 6 years of experience:  55000.0

In [178]:
"""6. data = {'word_count': [100, 150, 200, 120, 180, 220],
        'is_spam': ['ham', 'spam', 'spam', 'ham', 'spam', 'spam']}
df = pd.DataFrame(data)

Expected Output (Example):
Prediction for email with 200 words: Spam"""

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.model_selection import cross_val_score

data = {
    "word_count": [100, 150, 200, 120, 180, 220],
    "is_spam": ["ham", "spam", "spam", "ham", "spam", "spam"],
}
df = pd.DataFrame(data)
df = pd.get_dummies(df, dtype=int, drop_first=True)
feature = df[["word_count"]]
label = df["is_spam_spam"]
X_train, X_test, y_train, y_test = train_test_split(
    feature, label, test_size=0.4, random_state=0, stratify=label
)
classifier = LogisticRegression()
classifier.fit(X_train, y_train)
pred = classifier.predict(X_test)

cf = confusion_matrix(y_test, pred)
cr = classification_report(y_test, pred)
scores = cross_val_score(classifier, feature, label, cv=3)
cross_validation_scores = scores.mean()

joblib.dump(classifier, "models/sixth_model.pkl")
model = joblib.load("models/sixth_model.pkl")
input = 200
prediction = model.predict(pd.DataFrame({"word_count": [input]}))[0]
print(f"Prediction for email with {input} words: Spam")

d:\AI_course\Assignments\set_questions\.venv\Lib\site-packages\sklearn\model_selection\_split.py:813: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=3.
  warnings.warn(

Prediction for email with 200 words: Spam

In [ ]:
"""#7.Identify Customers with High Purchase Frequency
import pandas as pd
data = {'Customer_ID': [101, 102, 103, 101, 104, 102, 101, 105, 102, 103],
        'Purchase_Amount': [200, 150, 180, 220, 300, 200, 100, 400, 250, 300]}
df = pd.DataFrame(data)

Task:
Group customers by Customer_ID and count the number of purchases per customer.
Identify the top 3 customers with the highest number of purchases.

Expected Output:
    Customer Purchase Frequency:
   Customer_ID  Purchase_Count
0         101               3
1         102               3
2         103               2
3         104               1
4         105               1

Top 3 Frequent Customers:
   Customer_ID  Purchase_Count
0         101               3
1         102               3
2         103               2
"""

data = {
    "Customer_ID": [101, 102, 103, 101, 104, 102, 101, 105, 102, 103],
    "Purchase_Amount": [200, 150, 180, 220, 300, 200, 100, 400, 250, 300],
}
df = pd.DataFrame(data)
customer_purchase_frequency = (
    df.groupby(["Customer_ID"], as_index=False)["Purchase_Amount"]
    .count()
    .rename(columns={"Purchase_Amount": "Purchase_Count"})
)
frequent_customer = customer_purchase_frequency.sort_values(
    by="Purchase_Count", ascending=False
).head(3)
print("Customer Purchase Frequency: \n", customer_purchase_frequency)
print("Top Frequent 3 Customers: \n", frequent_customer)

Customer Purchase Frequency:
    Customer_ID  Purchase_Count
0          101               3
1          102               3
2          103               2
3          104               1
4          105               1
Top Frequent 3 Customers:
    Customer_ID  Purchase_Count
0          101               3
1          102               3
2          103               2

In [ ]:
"""#8. Find Students with the Highest Average Exam Scores.
Calculate the average exam score per student. Display the top 3 students with the highest average scores.

Expected Output:
Average Exam Scores per Student:
   Student_ID  Avg_Score
0        201   84.33
1        202   88.67
2        203   81.00
3        204   92.00
4        205   95.00

Top 3 Students:
   Student_ID  Avg_Score
0        205   95.00
1        204   92.00
2        202   88.67"""

import pandas as pd

data = {
    "Student_ID": [201, 202, 203, 201, 204, 202, 201, 205, 202, 203],
    "Exam_Score": [85, 90, 78, 88, 92, 87, 80, 95, 89, 84],
}
df = pd.DataFrame(data)
avg_score = (
    df.groupby(["Student_ID"], as_index=False)["Exam_Score"]
    .mean()
    .rename(columns={"Exam_Score": "Avg_Score"})
)
avg_score["Avg_Score"] = avg_score["Avg_Score"].round(2)
top_students = avg_score.sort_values(by="Avg_Score", ascending=False).head(3)
print("Average Exam Scores per Student: \n", avg_score)
print("Top 3 Students: \n", top_students)

Average Exam Scores per Student:
    Student_ID  Avg_Score
0         201      84.33
1         202      88.67
2         203      81.00
3         204      92.00
4         205      95.00
Top 3 Students:
    Student_ID  Avg_Score
4         205      95.00
3         204      92.00
1         202      88.67

In [220]:
"""
9. Identify the Most Commonly Purchased Products
Task:
Group products by Product_ID and sum their Purchase_Count.
Identify the top 3 most purchased products.

Expected Output:

Product Purchase Counts:
   Product_ID  Total_Purchases
0       P101               14
1       P102               11
2       P103                9
3       P104                1
4       P105                3

Top 3 Purchased Products:
   Product_ID  Total_Purchases
0       P101               14
1       P102               11
2       P103                9
"""

data = {
    "Product_ID": [
        "P101",
        "P102",
        "P103",
        "P101",
        "P104",
        "P102",
        "P101",
        "P105",
        "P102",
        "P103",
    ],
    "Purchase_Count": [5, 3, 4, 2, 1, 6, 7, 3, 2, 5],
}

purchase_count = (
    pd.DataFrame(data)
    .groupby(["Product_ID"], as_index=False)["Purchase_Count"]
    .sum()
    .rename(columns={"Purchase_Count": "Total_Purchases"})
)
top_products = purchase_count.sort_values(by="Total_Purchases", ascending=False).head(3)
print("Product Purchase Counts: \n", purchase_count)
print("Top 3 Purchased Products: \n", top_products)

Product Purchase Counts:
   Product_ID  Total_Purchases
0       P101               14
1       P102               11
2       P103                9
3       P104                1
4       P105                3
Top 3 Purchased Products:
   Product_ID  Total_Purchases
0       P101               14
1       P102               11
2       P103                9

In [224]:
"""
10. Cluster Customers Based on Their Purchase Amount
Task:
Apply K-Means Clustering to segment customers into 3 clusters.
Print the cluster labels for each customer.
Expected Output:
Customer Clusters:
   Customer_ID  Total_Spend  Cluster_Label
0            1          500              1
1            2         1500              1
2            3         2000              2
3            4         2500              2
4            5         3000              2
5            6         3500              0
6            7         4000              0
7            8         1000              1
8            9         1200              1
9           10         2700              2
"""

from sklearn.cluster import KMeans

data = {
    "Customer_ID": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    "Total_Spend": [500, 1500, 2000, 2500, 3000, 3500, 4000, 1000, 1200, 2700],
}

df = pd.DataFrame(data)

kmeans = KMeans(n_clusters=3, init="k-means++", random_state=42)
df["Cluster_Label"] = kmeans.fit_predict(df[["Total_Spend"]])

print("Customer Clusters:")
print(df)

Customer Clusters:
   Customer_ID  Total_Spend  Cluster_Label
0            1          500              1
1            2         1500              1
2            3         2000              2
3            4         2500              2
4            5         3000              0
5            6         3500              0
6            7         4000              0
7            8         1000              1
8            9         1200              1
9           10         2700              2